In [1]:
import pandas as pd
import numpy as np

file_xls = r"./使用数据/属性表.xls"
df = pd.DataFrame(pd.read_excel(file_xls))

newdf = pd.DataFrame(df, columns=["土地所有权","森林类别","国家级公益林原保护等级","地类","面积亩" ])
newdf

     土地所有权  森林类别  国家级公益林原保护等级    地类    面积亩
0        1  41.0          NaN   112  374.2
1        1  11.0          2.0   112  180.2
2        1  34.0          NaN   141   85.4
3        1  41.0          NaN   112  265.6
4        1  41.0          NaN   112  219.7
..     ...   ...          ...   ...    ...
331      1  32.0          NaN  1311    2.4
332      1  32.0          NaN  1311   48.9
333      1  32.0          NaN  1311   17.7
334      1  41.0          NaN   112   89.1
335      1  32.0          NaN  1311   15.2

[336 rows x 5 columns]

In [2]:
grouped = newdf.groupby(["土地所有权","森林类别","国家级公益林原保护等级","地类"],as_index = False)
grouped.size()

   土地所有权  森林类别  国家级公益林原保护等级    地类  size
0      1  11.0          2.0   111    10
1      1  11.0          2.0   112    61
2      1  11.0          2.0  1311    13
3      1  41.0          2.0   112     1

In [3]:
grouped1 = newdf.groupby(["土地所有权","森林类别","国家级公益林原保护等级","地类"])["面积亩"]
grouped1.size()

土地所有权  森林类别  国家级公益林原保护等级  地类
1      11.0  2.0          111     10
                          112     61
                          1311    13
       41.0  2.0          112      1
Name: 面积亩, dtype: int64

In [4]:
for name,group in grouped:
    print(name)
    print(group)

(1, 11.0, 2.0, 111)
     土地所有权  森林类别  国家级公益林原保护等级   地类    面积亩
21       1  11.0          2.0  111  168.9
25       1  11.0          2.0  111  107.7
63       1  11.0          2.0  111   43.1
66       1  11.0          2.0  111  182.9
90       1  11.0          2.0  111   14.2
92       1  11.0          2.0  111   17.7
108      1  11.0          2.0  111  183.6
109      1  11.0          2.0  111  284.9
144      1  11.0          2.0  111  105.9
204      1  11.0          2.0  111   55.3
(1, 11.0, 2.0, 112)
     土地所有权  森林类别  国家级公益林原保护等级   地类    面积亩
1        1  11.0          2.0  112  180.2
5        1  11.0          2.0  112  194.9
10       1  11.0          2.0  112   10.5
14       1  11.0          2.0  112   85.8
15       1  11.0          2.0  112  273.7
..     ...   ...          ...  ...    ...
248      1  11.0          2.0  112  118.1
266      1  11.0          2.0  112   80.8
267      1  11.0          2.0  112  124.7
270      1  11.0          2.0  112  153.9
292      1  11.0          2.0  112   95.0

[61 rows x 5 columns]
(1, 11.0, 2.0, 1311)
     土地所有权  森林类别  国家级公益林原保护等级    地类    面积亩
24       1  11.0          2.0  1311   35.3
52       1  11.0          2.0  1311   82.8
73       1  11.0          2.0  1311   63.0
86       1  11.0          2.0  1311   62.4
91       1  11.0          2.0  1311   45.5
145      1  11.0          2.0  1311    5.7
159      1  11.0          2.0  1311    5.7
193      1  11.0          2.0  1311   66.8
194      1  11.0          2.0  1311   10.7
201      1  11.0          2.0  1311   47.7
218      1  11.0          2.0  1311  252.8
289      1  11.0          2.0  1311   45.6
291      1  11.0          2.0  1311  122.6
(1, 41.0, 2.0, 112)
    土地所有权  森林类别  国家级公益林原保护等级   地类    面积亩
11      1  41.0          2.0  112  319.7

In [6]:
dict_df = dict(list(grouped))
pic = dict_df[(1, 11.0, 2.0, 111)]
pic

     土地所有权  森林类别  国家级公益林原保护等级   地类    面积亩
21       1  11.0          2.0  111  168.9
25       1  11.0          2.0  111  107.7
63       1  11.0          2.0  111   43.1
66       1  11.0          2.0  111  182.9
90       1  11.0          2.0  111   14.2
92       1  11.0          2.0  111   17.7
108      1  11.0          2.0  111  183.6
109      1  11.0          2.0  111  284.9
144      1  11.0          2.0  111  105.9
204      1  11.0          2.0  111   55.3

In [7]:
grouped.sum()

   土地所有权  森林类别  国家级公益林原保护等级    地类     面积亩
0      1  11.0          2.0   111  1164.2
1      1  11.0          2.0   112  9493.6
2      1  11.0          2.0  1311   846.6
3      1  41.0          2.0   112   319.7

In [8]:
grouped.agg('sum')

   土地所有权  森林类别  国家级公益林原保护等级    地类     面积亩
0      1  11.0          2.0   111  1164.2
1      1  11.0          2.0   112  9493.6
2      1  11.0          2.0  1311   846.6
3      1  41.0          2.0   112   319.7

In [9]:
grouped.agg([('合计','sum')])

                                面积亩
                                 合计
土地所有权 森林类别 国家级公益林原保护等级 地类
1     11.0 2.0         111   1164.2
                       112   9493.6
                       1311   846.6
      41.0 2.0         112    319.7

In [10]:
def abd():
    return np.sum
grouped.agg(abd())

   土地所有权  森林类别  国家级公益林原保护等级    地类     面积亩
0      1  11.0          2.0   111  1164.2
1      1  11.0          2.0   112  9493.6
2      1  11.0          2.0  1311   846.6
3      1  41.0          2.0   112   319.7

In [11]:
grouped.filter(lambda x : np.sum(x["面积亩"])>100)

     土地所有权  森林类别  国家级公益林原保护等级    地类    面积亩
1        1  11.0          2.0   112  180.2
5        1  11.0          2.0   112  194.9
10       1  11.0          2.0   112   10.5
11       1  41.0          2.0   112  319.7
14       1  11.0          2.0   112   85.8
..     ...   ...          ...   ...    ...
267      1  11.0          2.0   112  124.7
270      1  11.0          2.0   112  153.9
289      1  11.0          2.0  1311   45.6
291      1  11.0          2.0  1311  122.6
292      1  11.0          2.0   112   95.0

[85 rows x 5 columns]

In [16]:
pivot_data1 = pd.pivot_table(newdf,index=["土地所有权","森林类别"],values = ["面积亩"],columns = ["林地","地类"],aggfunc=[np.sum],fill_value=0)
pivot_data1

                sum
                面积亩
林地              有林地             未成林地     灌木林地    竹林地  非林地
地类             111      112     141      1311   113  161
土地所有权 森林类别
1     11.0  29778.3  73342.8   163.7  25321.6    8.1    0
      13.0      0.0      0.0   234.3      0.0    0.0    0
      31.0   3252.6      0.0     0.0      0.0    0.0    0
      32.0      0.0      0.0     0.0  10779.9    0.0    0
      34.0      0.0      0.0  1320.5      0.0    0.0    0
      41.0  16373.9  46535.7     0.0      0.0  251.5    0
      42.0      0.0      0.0     0.0    350.6    0.0    0
      44.0      0.0      0.0   100.8      0.0    0.0    0
2     11.0      0.0      8.7     0.0    527.0    0.0    0
      32.0      0.0      0.0     0.0    291.4    0.0    0
      41.0     93.5    997.6     0.0      0.0   29.3    0
      44.0      0.0      0.0     0.0      0.0    0.0  309